@layer theme {
    :root {
        --ax-dropdown-background: var(--background-color-popover);
        --ax-dropdown-radius: var(--ax-radius);
        --ax-dropdown-filter: drop-shadow(--drop-shadow-lg);
        --ax-dropdown-border: var(--border-color-border);
        --ax-dropdown-padding: calc(var(--spacing) * 1) 0;
        --ax-dropdown-transition-speed: 0.15s;
        --ax-dropdown-width: 280px;
    }
}

@layer components {
    .dropdown {
        visibility: hidden;
        background: var(--ax-dropdown-background);
        border-radius: var(--ax-dropdown-radius);
        border: 1px solid var(--ax-dropdown-border);
        padding: var(--ax-dropdown-padding);
        position: absolute;
        opacity: 0;
        transform: scale(0.95);
        transition: all var(--ax-dropdown-transition-speed);
        width: var(--ax-dropdown-width);
        filter: var(--ax-dropdown-filter);
    }

    .dropdown.open, .dropdown:popover-open {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}
